body{
  background-image: url("../Carrito/imagenes/lechuga.jpg");
  background-size:cover;
}
.mifondonav {
  background-color: rgb(99, 235, 147);
}
.colorin{
  color:black;  

} 

.nomenclatura{
      
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-color:rgb(99,235,147);
  border-style: solid;
  border-radius: 15px;
  padding:20px;
  margin:10px;
}
.btnlinks{
  background-color:rgb(99, 235, 147);
  border-color:rgb(173, 218, 188);
  border-radius: 8px;
  padding:10px 40px;
  text-align: center;
  font-size: 16px;
  color: rgb(20, 99, 48);
  
}

.fake{
  color:darkred;
  font-display: auto;
  margin-top: 30px;
  padding: 20px;
}
.h1{
    
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}