

.mifondonav {background-color: rgb(99, 235, 147)}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../index/imagenes/fondoinicio.jpg) ;
    width: auto;
    
}
.navlink{
        padding: 20px;
        margin:30px;
}
.btnlinks{
    background-color:rgb(99, 235, 147);
    border-color:rgb(173, 218, 188);
    border-radius: 8px;
    padding:10px 40px;
    text-align: center;
    font-size: 16px;
    color: rgb(20, 99, 48);
    display:inline-block;


}

footer{
    display: flex;
    background-color:rgb(99, 235, 147);
    color:rgb(20, 99, 48);
    justify-content: center;
    padding: 20px;
    column-gap:12px;
}
.footerlogo {
    float:right;
    margin-left: 16px;
    border-radius: 60%;
  
}
#nuestropersonal{
    column-gap: 20px; 
    
      
}
.avatar{
    float:left;
    width:100px;
    margin-left: 12px;
    margin-right: 20px;

}
