body{
    background-image: url(../index/imagenes/fondoinicio.jpg);
    

}
.mifondonav {background-color: rgb(99, 235, 147)}

.carousel{
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: black;
}
footer{
    display: flex;
    background-color:rgb(99, 235, 147);
    color:rgb(20, 99, 48);
    justify-content: center;
    padding: 20px;
    column-gap:12px;
}
.footerlogo {
    float:right;
    margin-left: 16px;
    border-radius: 60%;
  
}