body {
  background-image: url(../inicio/imagenes/principal.jpg) ;
   width: auto;
}

.mifondo { color: rgb(6, 5, 5);
  width: auto;
}

.mifondonav {background-color: rgb(99, 235, 147)}
/* la imagen se repite porque la uso en dos clases. solo dejo la del body */

#multistep {
    height: 1030px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#multistep form {
  background-color: rgb(78, 159, 237);
  background: #fefcfc82;
  padding: 1rem;
  box-shadow: 4px 4px 8px;
  border-radius: 3%;
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
footer{
  display: flex;
  background-color:rgb(99, 235, 147);
  color:rgb(20, 99, 48);
  justify-content: center;
  padding: 20px;
  column-gap:12px;
}
.footerlogo {
  float:right;
  margin-left: 16px;
  border-radius: 60%;